.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.logo{
    width: 30px;
    background-color: aliceblue;
}
.logocontainer{
display: flex;
justify-content: end;
padding: 24px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}